    <!-- =============== START OF FOOTER =============== -->
    <footer class="footer1 bg-dark">

        <!-- ===== START OF FOOTER COPYRIGHT AREA ===== -->
        <div class="footer-copyright-area ptb30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex">
                            <div class="links">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="">Privacy & Cookies</a></li>
                                    <li class="list-inline-item"><a href="">Terms & Conditions</a></li>
                                    <li class="list-inline-item"><a href="">Legal Disclaimer</a></li>
                                </ul>
                            </div>

                            <div class="copyright ml-auto">All Rights Reserved by <a href="">&copy; Travel
                                    Companion</a>.</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== END OF FOOTER COPYRIGHT AREA ===== -->

    </footer>
    <!-- =============== END OF FOOTER =============== -->