{% extends 'layout.html' %} {% block body %}
    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">
       
        <!-- =============== START OF MOVIE DETAIL INTRO =============== -->
        <section class="movie-detail-intro overlay-gradient ptb50" style="background: url(../static/images/other/touchkit.jpg);">
        </section>
        <!-- =============== END OF MOVIE DETAIL INTRO =============== -->


        <!-- =============== START OF MOVIE DETAIL INTRO 2 =============== -->
        <section class="movie-detail-intro2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="movie-poster">
                            <img src="{{ books_name['Image-URL-L'] }}" alt="">
                            <a href="" class="play-video">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>


                        <div class="movie-details">
                            <h3 class="title">{{ books_name['Book-Title'] }}</h3>

                            <ul class="movie-subtext">
                                <li>{{ books_name['Year-Of-Publication'] }}</li>
                            </ul>

                            <a class="btn btn-success" href="#">
                                    <i class="fa fa-plus"></i> Add to list</a>

                            <a class="btn btn-danger" href="#">
                                    <i class="fa fa-shopping-cart"></i> Buy now</a>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </section>
        <!-- =============== End OF MOVIE DETAIL INTRO 2 =============== -->


        <!-- =============== START OF MOVIE DETAIL MAIN SECTION =============== -->
        <section class="movie-detail-main ptb100">
            <div class="container">

                <div class="row">
                    <!-- Start of Movie Main -->
                    <div class="col-lg-8 col-sm-12">
                        <div class="inner pr50">

                            <!-- Storyline -->
                            <div class="storyline">
                                    <h3 class="title">Book Author</h3>
                                    <p>
                                            {{ books_name['Book-Author'] }}
                                    </p>
                                </div>

    
                                <div class="storyline">
                                        <h3 class="title">Publisher</h3>
                                        <p>
                                            {{ books_name.Publisher }}
                                        </p>
                                </div>    
                        </div>
                    </div>
                    <!-- End of Movie Main -->


                    <!-- Start of Sidebar -->
                    <div class="col-lg-4 col-sm-12">
                        <div class="sidebar">

                            <!-- Start of Details Widget -->
                            <aside class="widget widget-movie-details">
                                <h3 class="title">Details</h3>

                                <ul>
                                    <li><strong>Language: </strong>English</li>
                                </ul>
                            </aside>
                            <!-- End of Details Widget -->

                        </div>
                    </div>
                    <!-- End of Sidebar -->
                </div>

            </div>
        </section>
        <!-- =============== END OF MOVIE DETAIL MAIN SECTION =============== -->

{% endblock %}      