{% extends 'layout.html' %} {% block body %}
        <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient" style="background: url(../static/images/posters/movie-collection.jpg);">
            <div class="container">
                <div class="inner text-center">
                    <h2 class="title">Books</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->

        <!-- =============== START OF MAIN =============== -->
        <main class="bg-light ptb100">
            <div class="container">

                <h2 class="title">Top Books</h2>
                <!-- Start of Movie List -->
                <div class="row">
                  {% for books in topbooks %}  
                    {% for book in books %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-3 mb30">
                            <div class="listing-container">


                                <div class="listing-image" style="width: 50%; margin: 0px auto;">
                                        <img src="../static/images/books.png" alt="songs">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content text-center">
                                    <div class="inner text-center">

                                        <h2 class="title">{{ book['Book-Title'] }}</h2>

                                        <a href="books_details/{{book['Book-Title']}}" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}  
                {% endfor %}     
                </div>

                <h2 class="title">Recommendations for You</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for books in recommended %}  
                        {% for book in books %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-3 mb30">
                            <div class="listing-container">


                                <div class="listing-image" style="width: 50%; margin: 0px auto;">
                                        <img src="../static/images/books.png" alt="songs">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content text-center">
                                    <div class="inner text-center">

                                        <h2 class="title">{{ book['Book-Title'] }}</h2>

                                        <a href="books_details/{{book['Book-Title']}}" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}   
                    {% endfor %}   
                </div>

                <h2 class="title">TV Show Recommendation of a book</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="movie-box-3 mb30">
                            <div class="listing-container">
                                <div class="listing-image" style="width: 50%; margin: 0px auto;">
                                        <img src="../static/images/tv.png" alt="songs">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content text-center">
                                    <div class="inner text-center">

                                        <h2 class="title">Les Miserables</h2>

                                        <a href="" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </main>
        <!-- =============== END OF MAIN =============== -->
{% endblock %}               