<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Travel Companion">
    <meta name="keywords" content="recommendations,movies,tv series,songs,places to visit">
    <meta name="author" content="Travel Companion Team">

    <!-- ===== Website Title ===== -->
    <title>Travel Companion</title>

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">

</head>

<body>


    <!-- =============== START OF PRELOADER =============== -->
    <div class="loading">
        <div class="loading-inner">
            <div class="loading-effect">
                <div class="object"></div>
            </div>
        </div>
    </div>
    <!-- =============== END OF PRELOADER =============== -->



    <!-- =============== START OF RESPONSIVE - MAIN NAV =============== -->
    <nav id="main-mobile-nav"></nav>
    <!-- =============== END OF RESPONSIVE - MAIN NAV =============== -->



    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">


        <!-- =============== START OF HEADER NAVIGATION =============== -->
        <!-- Insert the class "sticky" in the header if you want a sticky header -->
        <header class="header header-fixed header-transparent text-white">
            <div class="container-fluid">

                <!-- ====== Start of Navbar ====== -->
                <nav class="navbar navbar-expand-lg">

                    <a class="navbar-brand" href="index.html">

                        <h2 style="color:white;font-family: 'Kaushan Script';">Travel Companion</h2>

                    </a>

                    <button id="mobile-nav-toggler" class="hamburger hamburger--collapse" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>

                    <!-- ====== Start of #main-nav ====== -->
                    <div class="navbar-collapse" id="main-nav">

                        <!-- ====== Start of Main Menu ====== -->
                        <ul class="navbar-nav mx-auto" id="main-menu">

                            <!-- Menu Item -->
                            <li class="nav-item">
                                <a class="nav-link" href="#">Home</a>
                            </li>


                            <!-- Menu Item -->
                            <li class="nav-item">
                                <a class="nav-link" href="#features">Features</a>
                            </li>

                            <!-- Menu Item -->
                            <li class="nav-item">
                                <a class="nav-link" href="#how-it-works">How It Works</a>
                            </li>


                            <!-- Menu Item -->
                            <li class="nav-item">
                                <a class="nav-link" href="#contact-us">Contact Us</a>
                            </li>

                        </ul>
                        <!-- ====== End of Main Menu ====== -->


                        <!-- ====== Start of Extra Nav ====== -->
                        <ul class="navbar-nav extra-nav">

  
                            <!-- Menu Item -->
                            <li class="nav-item m-auto">
                                <a href="#login-register-popup"
                                    class="btn btn-main btn-effect login-btn popup-with-zoom-anim">
                                    <i class="icon-user"></i>Sign in
                                </a>
                            </li>
                        </ul>
                        <!-- ====== End of Extra Nav ====== -->

                    </div>
                    <!-- ====== End of #main-nav ====== -->
                </nav>
                <!-- ====== End of Navbar ====== -->

            </div>
        </header>
        <!-- =============== END OF HEADER NAVIGATION =============== -->




        <!-- =============== START OF SLIDER REVOLUTION SECTION =============== -->
        <section id="slider" class="hero-slider">
            <div class="rev-slider-wrapper fullwidthbanner-container overlay-gradient">
                <!-- Start REVOLUTION SLIDER 5.4.1 fullwidth mode -->
                <div id="hero-slider" class="rev_slider fullwidthabanner" style="display:none" data-version="5.4.1">
                    <ul>

                        <!-- ===== SLIDE NR. 1 ===== -->
                        <li data-transition="fade">
                            <!-- MAIN IMAGE -->
                            <img src="../static/images/posters/movie-collection.jpg" alt="Image" title="slider-bg"
                                data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                                data-bgparallax="10" class="rev-slidebg" data-no-retina="">
                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="" data-y="middle"
                                data-voffset="['-80','-80','-80','-80']" data-responsive_offset="on"
                                data-fontsize="['60','50','40','30']" data-lineheight="['60','50','40','30']"
                                data-whitespace="nowrap"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                style="z-index: 5; color: #fff; font-weight: 900;">Welcome to<span
                                    style="font-family: 'Kaushan Script';">Travel Companion</span>
                            </div>


                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption tp-resizeme" data-x="center" data-hoffset="" data-y="middle"
                                data-voffset="[0]" data-width="[1200, 992, 768, 98%]" data-responsive_offset="on"
                                data-whitespace="nowrap"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                style="z-index: 5; color: #fff; font-weight: 900;">

                                <!-- ===== START OF SEARCH FORM ===== -->
                                <form id="search-form-1">
                                    <div class="row justify-content-center">
                                        <div class="col-md-8 col-sm-10 col-12">
                                            <div class="form-group">
                                                <input name="search-keyword" type="text" id="search-keyword" value=""
                                                    class="form-control"
                                                    placeholder="Enter Books, Movies, Tv Series, Songs, Places..">
                                                <button type="submit" class="btn btn-main btn-effect"><i
                                                        class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- ===== END OF SEARCH FORM ===== -->

                            </div>


                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption tp-resizeme text-center" data-x="center" data-hoffset=""
                                data-y="middle" data-voffset="['100','100','80','80']" data-responsive_offset="on"
                                data-fontsize="['16']" data-lineheight="['22']" data-whitespace="nowrap"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                style="z-index: 5; color: #fff; font-weight: 400;">
                                Have a look at our top rated <br />Movies, Books, TV Shows and Songs!
                            </div>


                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption tp-resizeme" data-x="[730, 630, 520, 370]" data-hoffset=""
                                data-y="middle" data-voffset="['115','115','90','500']" data-responsive_offset="on"
                                data-fontsize="['16']" data-lineheight="['22']" data-whitespace="nowrap"
                                data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                                style="z-index: 5; color: #fff; font-weight: 400;">
                                <img src="../static/images/other/banner-arrow.png" alt="">
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- End REVOLUTION SLIDER 5.4.1 fullwidth mode -->
            </div>
            <!-- ===== END OF REV SLIDER WRAPPER ===== -->

        </section>

        <!-- =============== START OF TOP MOVIES SECTION =============== -->
        <section class="top-movies2">
            <div class="container">
                <div class="row">

                    <!-- Movie List Item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="movie-box-4">
                            <div class="listing-container">

                                <!-- Movie List Image -->
                                <div class="listing-image">

                                    <!-- Buttons -->
                                    <div class="buttons">
                                        <a href="#" data-original-title="Rate" data-toggle="tooltip"
                                            data-placement="bottom" class="like">
                                            <i class="icon-heart"></i>
                                        </a>

                                        <a href="#" data-original-title="Share" data-toggle="tooltip"
                                            data-placement="bottom" class="share">
                                            <i class="icon-share"></i>
                                        </a>
                                    </div>

                                    <!-- Rating -->
                                    <div class="stars">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>

                                    <!-- Image -->
                                    <img src="../static/images/posters/poster-1.jpg" alt="">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content">
                                    <div class="inner">
                                        <h2 class="title">Godfather</h2>

                                        <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-3 col-md-6 col-sm-6 d-none d-sm-block">
                        <div class="movie-box-4">
                            <div class="listing-container">

                                <!-- Movie List Image -->
                                <div class="listing-image">

                                    <!-- Buttons -->
                                    <div class="buttons">
                                        <a href="#" data-original-title="Rate" data-toggle="tooltip"
                                            data-placement="bottom" class="like">
                                            <i class="icon-heart"></i>
                                        </a>

                                        <a href="#" data-original-title="Share" data-toggle="tooltip"
                                            data-placement="bottom" class="share">
                                            <i class="icon-share"></i>
                                        </a>
                                    </div>

                                    <!-- Rating -->
                                    <div class="stars">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>

                                    <!-- Image -->
                                    <img src="../static/images/posters/poster-2.jpg" alt="">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content">
                                    <div class="inner">
                                        <h2 class="title">The Fault In Our Stars</h2>

                                        <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-3 col-md-6 d-none d-lg-block">
                        <div class="movie-box-4">
                            <div class="listing-container">

                                <!-- Movie List Image -->
                                <div class="listing-image">

                                    <!-- Buttons -->
                                    <div class="buttons">
                                        <a href="#" data-original-title="Rate" data-toggle="tooltip"
                                            data-placement="bottom" class="like">
                                            <i class="icon-heart"></i>
                                        </a>

                                        <a href="#" data-original-title="Share" data-toggle="tooltip"
                                            data-placement="bottom" class="share">
                                            <i class="icon-share"></i>
                                        </a>
                                    </div>

                                    <!-- Rating -->
                                    <div class="stars">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>

                                    <!-- Image -->
                                    <img src="../static/images/posters/poster-3.jpg" alt="">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content">
                                    <div class="inner">
                                        <h2 class="title">Game of Thrones</h2>

                                        <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Movie List Item -->
                    <div class="col-lg-3 col-md-6 d-none d-lg-block">
                        <div class="movie-box-4">
                            <div class="listing-container">

                                <!-- Movie List Image -->
                                <div class="listing-image">

                                    <!-- Buttons -->
                                    <div class="buttons">
                                        <a href="#" data-original-title="Rate" data-toggle="tooltip"
                                            data-placement="bottom" class="like">
                                            <i class="icon-heart"></i>
                                        </a>

                                        <a href="#" data-original-title="Share" data-toggle="tooltip"
                                            data-placement="bottom" class="share">
                                            <i class="icon-share"></i>
                                        </a>
                                    </div>

                                    <!-- Rating -->
                                    <div class="stars">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>

                                    <!-- Image -->
                                    <img src="../static/images/posters/poster-4.jpg" alt="">
                                </div>

                                <!-- Movie List Content -->
                                <div class="listing-content">
                                    <div class="inner">
                                        <h2 class="title">Kya Baat Ay</h2>

                                        <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!-- =============== END OF TOP MOVIES SECTION =============== -->

        <!-- =============== START OF FEATURES SECTION =============== -->
        <section id="features" class="features pt50 pb100">
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="title">Features</h2>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div class="icon-box2">
                            <i class="icon-login"></i>
                            <h4 class="title">Time Friendly</h4>
                            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut,
                                convallis eros sollicitudin turpis.</p>
                        </div>

                        <div class="icon-box2">
                            <i class="icon-magic-wand"></i>
                            <h4 class="title">Superiorly Secure</h4>
                            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut,
                                convallis eros sollicitudin turpis.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="icon-box2">
                            <i class="icon-screen-smartphone"></i>
                            <h4 class="title">One Stop Entertainment</h4>
                            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut,
                                convallis eros sollicitudin turpis.</p>
                        </div>

                        <div class="icon-box2">
                            <i class="icon-heart"></i>
                            <h4 class="title">I'm feeling lucky!</h4>
                            <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut,
                                convallis eros sollicitudin turpis.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- =============== END OF FEATURES SECTION =============== -->

        <!-- =============== START OF HOW IT WORKS SECTION =============== -->
        <section id="how-it-works" class="how-it-works pt50">
            <div class="container">

                <!-- Start of row -->
                <div class="row justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="title">How it works?</h2>
                        <h6 class="subtitle">We will show you step by step how to start watching your favorite movies,listen to your favorite songs &
                            view tv shows starting now!</h6>
                    </div>
                </div>
                <!-- End of row -->


                <!-- Start of Timeline -->
                <div class="timeline">

                    <span class="main-line"></span>

                    <!-- === Start of Timeline Step 1 === -->
                    <div class="timeline-step row">
                        <span class="timeline-step-btn">Step 1</span>

                        <!-- Start of Timeline Text -->
                        <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                            <div class="timeline-text">
                                <h3>Create an account</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <!-- End of Timeline Text -->

                        <!-- Start of Timeline Image -->
                        <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                            <div class="timeline-image">
                                <img src="../static/images/other/signup.png" alt="">
                            </div>
                        </div>
                        <!-- End of Timeline Image -->

                    </div>
                    <!-- === End of Timeline Step 1 === -->


                    <!-- === Start of Timeline Step 2 === -->
                    <div class="timeline-step row">
                        <span class="timeline-step-btn" style="color: #2a7bc2; background: #c1ddf5;">Step 2</span>

                        <!-- Start of Timeline Image -->
                        <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                            <div class="timeline-image">
                                <img src="../static/images/other/find-movie.png" alt="">
                            </div>
                        </div>
                        <!-- End of Timeline Image -->

                        <!-- Start of Timeline Text -->
                        <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                            <div class="timeline-text-right">
                                <h3>Read Books,Listen Songs and Watch Movies,Tv Series </h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <!-- End of Timeline Text -->

                    </div>
                    <!-- === End of Timeline Step 2 === -->


                    <!-- === Start of Timeline Step 3 === -->
                    <div class="timeline-step row">
                        <span class="timeline-step-btn" style="color: #eb305f; background: #f9c8d4;">Step 3</span>

                        <!-- Start of Timeline Text -->
                        <div class="col-md-6 col-sm-12 timeline-text-wrapper">
                            <div class="timeline-text">
                                <h3>Enjoy Travel Companion</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                        <!-- End of Timeline Text -->

                        <!-- Start of Timeline Image -->
                        <div class="col-md-6 col-sm-12 timeline-image-wrapper">
                            <div class="timeline-image">
                                <h1 style="font-family:'Kaushan Script';"><span style="font-family:'Kaushan Script';color:#3586e4;">Travel</span> Companion</h1>
                            </div>
                        </div>
                        <!-- End of Timeline Image -->

                    </div>
                    <!-- === End of Timeline Step 3 === -->

                </div>
                <!-- End of Timeline -->

            </div>
        </section>
        <!-- =============== END OF HOW IT WORKS SECTION =============== -->


        <!-- =============== START OF SUBSCRIBE SECTION =============== -->
        <section id="contact-us" class="subscribe bg-light2 ptb100">
            <!-- Start of row -->
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="title">Contact Us!</h2>
                    <h6 class="subtitle">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                        consectetuer adipiscing.</h6>
                </div>
            </div>
            <!-- End of row -->


            <!-- Start of row -->
            <div class="row justify-content-center">
                <div class="col-md-7 col-sm-10 col-12">

                    <!-- Subscribe Form -->
                    <form action="#" class="mailchimp mt50" novalidate>

                        <!-- Form -->
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" name="EMAIL" class="form-control" id="mc-email"
                                    placeholder="Your Email" autocomplete="off">
                                <label for="mc-email"></label>
                                <button type="submit" class="btn btn-main btn-effect">Contact Us</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- End of row -->


    </div>
    </section>
    <!-- =============== END OF SUBSCRIBE SECTION =============== -->




    <!-- =============== START OF FOOTER =============== -->
    <footer class="footer1 bg-dark">

        <!-- ===== START OF FOOTER WIDGET AREA ===== -->
        <div class="footer-widget-area ptb100">
            <div class="container">
                <div class="row">

                    <!-- Start of Widget 4 -->
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="widget widget-social">
                            <h4 class="widget-title">Fork Us on</h4>

                            <!-- Start of Social Buttons -->
                            <ul class="social-btns">
                                <!-- Social Media -->
                                <li>
                                    <a href="https://github.com/isranivishal/Travel-Companion" class="social-btn-roll github">
                                        <div class="social-btn-roll-icons">
                                            <i class="social-btn-roll-icon fa fa-github"></i>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <!-- End of Social Buttons -->

                        </div>
                    </div>
                    <!-- End of Widget 4 -->

                </div>
            </div>
        </div>
        <!-- ===== END OF FOOTER WIDGET AREA ===== -->


        <!-- ===== START OF FOOTER COPYRIGHT AREA ===== -->
        <div class="footer-copyright-area ptb30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex">
                            <div class="links">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="">Privacy & Cookies</a></li>
                                    <li class="list-inline-item"><a href="">Terms & Conditions</a></li>
                                    <li class="list-inline-item"><a href="">Legal Disclaimer</a></li>
                                </ul>
                            </div>

                            <div class="copyright ml-auto">All Rights Reserved by <a href="#">&copy; Travel
                                    Companion</a>.</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== END OF FOOTER COPYRIGHT AREA ===== -->

    </footer>
    <!-- =============== END OF FOOTER =============== -->

    </div>
    <!-- =============== END OF WRAPPER =============== -->




    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->



    <!-- =============== START OF LOGIN & REGISTER POPUP =============== -->
    <div id="login-register-popup" class="small-dialog zoom-anim-dialog mfp-hide">

        <!-- ===== Start of Signin wrapper ===== -->
        <div class="signin-wrapper">
            <div class="small-dialog-headline">
                <h4 class="text-center">Sign in</h4>
            </div>


            <div class="small-dialog-content">

                <!-- Start of Login form -->
                <form id="cariera_login" action="{{ url_for('login') }}" method="post">
                    <p class="status"></p>

                    <div class="form-group">
                        <label for="username">Email ID*</label>
                        <input type="text" class="form-control" id="username" name="email_id"
                            placeholder="Your Email *" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password *</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Your Password *" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Sign in" class="btn btn-main btn-effect nomargin" />
                    </div>
                </form>
                <!-- End of Login form -->

                <div class="bottom-links">
                    <span>
                        Not a member?
                        <a class="signUpClick">Sign up</a>
                    </span>
                    <a class="forgetPasswordClick pull-right">Forgot Password</a>
                </div>
            </div>

        </div>
        <!-- ===== End of Signin wrapper ===== -->



        <!-- ===== Start of Signup wrapper ===== -->
        <div class="signup-wrapper">
            <div class="small-dialog-headline">
                <h4 class="text-center">Sign Up</h4>
            </div>

            <div class="small-dialog-content">

                <!-- Start of Registration form -->
                <form id="cariera_registration" action="{{ url_for('register') }}" method="POST">
                    <p class="status"></p>

                    <div class="form-group">
                        <label for="movify_user_login">First Name</label>
                        <input name="first_name" id="movify_user_login" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                            <label for="movify_user_login">Last Name</label>
                            <input name="last_name" id="movify_user_login" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="movify_user_email">Email ID</label>
                        <input name="email_id" id="movify_user_email" class="form-control" type="email" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" id="movify_password" class="form-control" type="password" />
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-main btn-effect nomargin" value="Register" />
                    </div>
                </form>
                <!-- End of Registration form -->

                <div class="bottom-links">
                    <span>
                        Already have an account?
                        <a class="signInClick">Sign in</a>
                    </span>

                    <a class="forgetPasswordClick pull-right">Forgot Password</a>
                </div>

            </div> <!-- .small-dialog-content -->

        </div>
        <!-- ===== End of Signup wrapper ===== -->



        <!-- ===== Start of Forget Password wrapper ===== -->
        <div class="forgetpassword-wrapper">
            <div class="small-dialog-headline">
                <h4 class="text-center">Forgotten Password</h4>
            </div>

            <div class="small-dialog-content">

                <!-- Start of Forger Password form -->
                <form id="forget_pass_form" action="#" method="post">
                    <p class="status"></p>

                    <div class="form-group">
                        <label for="password">Email Address *</label>
                        <input type="email" name="user_login" class="form-control" id="email3"
                            placeholder="Email Address *" />
                    </div>

                    <div class="form-group">
                        <input type="submit" name="submit" value="Get New Password"
                            class="btn btn-main btn-effect nomargin" />
                    </div>
                </form>
                <!-- End of Forger Password form -->

                <div class="bottom-links">
                    <a class="cancelClick">Cancel</a>
                </div>

            </div><!-- .small-dialog-content -->

        </div>
        <!-- ===== End of Forget Password wrapper ===== -->

    </div>
    <!-- =============== END OF LOGIN & REGISTER POPUP =============== -->



    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->



    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.ajaxchimp.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.mmenu.js"></script>
    <script src="../static/js/jquery.inview.min.js"></script>
    <script src="../static/js/jquery.countTo.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/headroom.js"></script>
    <script src="../static/js/custom.js"></script>

    <!-- ===== Slider Revolution core JavaScript files ===== -->
    <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- ===== Slider Revolution extension scripts ===== -->
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.carousel.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.kenburn.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.layeranimation.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.migration.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.parallax.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.video.min.js"></script>

</body>

</html>