<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Meta Tags - Description for Search Engine purposes ===== -->
    <meta name="description" content="Travel Companion">
    <meta name="keywords" content="recommendations,movies,tv series,songs,places to visit">
    <meta name="author" content="Travel Companion Team">

    <!-- ===== Website Title ===== -->
    <title>Travel Companion</title>

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="../static/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="../static/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/responsive.css">

</head>

<body>

    <!-- =============== START OF RESPONSIVE - MAIN NAV =============== -->
    <nav id="main-mobile-nav"></nav>
    <!-- =============== END OF RESPONSIVE - MAIN NAV =============== -->

    <!-- =============== START OF WRAPPER =============== -->
    <div class="wrapper">

        {% include 'includes/_nav.html' %}

        {% block body %}{% endblock %}

        {% include 'includes/_footer.html' %}

    </div>
    <!-- =============== END OF WRAPPER =============== -->

    <!-- =============== START OF GENERAL SEARCH WRAPPER =============== -->
    <div class="general-search-wrapper">
        <form class="general-search" role="search" method="get" action="#">
            <input type="text" placeholder="Type and hit enter...">
            <span id="general-search-close" class="ti-close toggle-search"></span>
        </form>
    </div>
    <!-- =============== END OF GENERAL SEARCH WRAPPER =============== -->

    <!-- ===== Start of Back to Top Button ===== -->
    <div id="backtotop">
        <a href="#"></a>
    </div>
    <!-- ===== End of Back to Top Button ===== -->


    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.ajaxchimp.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.mmenu.js"></script>
    <script src="../static/js/jquery.inview.min.js"></script>
    <script src="../static/js/jquery.countTo.min.js"></script>
    <script src="../static/js/jquery.countdown.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/headroom.js"></script>
    <script src="../static/js/custom.js"></script>

    <!-- ===== Slider Revolution core JavaScript files ===== -->
    <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../static/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <!-- ===== Slider Revolution extension scripts ===== -->
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.actions.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.carousel.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.kenburn.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.layeranimation.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.migration.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.navigation.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.parallax.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.slideanims.min.js">
    </script>
    <script type="text/javascript" src="../static/revolution/js/extensions/revolution.extension.video.min.js"></script>

</body>

</html>