{% extends 'layout.html' %} {% block body %}
        <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient" style="background: url(../static/images/posters/movie-collection.jpg);">
            <div class="container">
                <div class="inner text-center">
                    <h2 class="title">Tv Shows</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->

        <!-- =============== START OF MAIN =============== -->
        <main class="bg-light ptb100">
            <div class="container">

                <h2 class="title">Recommendations for You</h2>
                <!-- Start of Movie List -->
                {% for movies in recommendation %}                
                <div class="row">
                    {% for movie in movies %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movie }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <h2 class="title">Top Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in toplist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Action Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in actionlist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Comedy Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in comedylist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Drama Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in dramalist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Horror Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in horrorlist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Thriller Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in thrillerlist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>

                <h2 class="title">Romantic Movies</h2>
                <!-- Start of Movie List -->
                <div class="row">

                    {% for movies in romancelist %}
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="movie-box-3 mb30">
                                <div class="listing-container">

                                    <!-- Movie List Image -->
                                    <div class="listing-image">
                                        <!-- Image -->
                                        <img src="" alt="">
                                    </div>

                                    <!-- Movie List Content -->
                                    <div class="listing-content">
                                        <div class="inner text-center">

                                            <h2 class="title">{{ movies }}</h2>

                                            <!-- Rating -->
                                            <div class="stars">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <span></span>
                                                    <span class="category"></span>
                                                </div>
                                            </div>

                                            <p></p>

                                            <a href="movie-detail.html" class="btn btn-main btn-effect">details</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}     
                </div>
            </div>
        </main>
        <!-- =============== END OF MAIN =============== -->
{% endblock %}               