{% extends 'layout.html' %} {% block body %}
        <!-- =============== START OF PAGE HEADER =============== -->
        <section class="page-header overlay-gradient" style="background: url(../static/images/posters/movie-collection.jpg);">
            <div class="container">
                <div class="inner text-center">
                    <h2 class="title">Songs</h2>
                </div>
            </div>
        </section>
        <!-- =============== END OF PAGE HEADER =============== -->

        <!-- =============== START OF MAIN =============== -->
        
        <main class="bg-light ptb100">
            <div class="container">

                <h2 class="title">Recommendations for You</h2>
                <!-- Start of Movie List -->
                <div class="row">
                    {% for i in range(response|length) %}                    
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        
                        <div class="movie-box-3 mb30">
                            <div class="listing-container">

                                <div class="listing-image" style="width: 50%; margin: 0px auto;">
                                    <img src="../static/images/songs.png" alt="songs">
                                </div>

                                <div class="listing-content">
                                    <div class="inner text-center">
                                        <h4 class="title">{{ response[i] }}</h4>
                                        <h4>{{ response3[i] }}</h4>
                                        <h4>{{ response4[i] }}</h4>   

                                        <form action="/blockNumber" method="GET">
                                            <input type="hidden" name="songid" value={{ response2[i] }}>
                                            <input type="submit" value="Buy" class="btn btn-main btn-effect"></a>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
        <!-- =============== END OF MAIN =============== -->
{% endblock %}               