{% extends 'layout.html' %}

{% block body %}
<!-- =============== START OF MAIN =============== -->
<section class="page-header overlay-gradient" style="background: url(static/images/posters/movie-collection.jpg);">
    <div class="container">
        <div class="inner text-center">
            <h2 class="title">My List</h2>
        </div>
    </div>
</section>

<main class="ptb100">
    <div class="container">

        <!-- Start of Movie List -->
        <div class="row">
            {% for user in user_details %}

                <h2 class="title">Books</h2>

                {% for books in user.my_list.books %}
                <div class="col-md-12 col-sm-12">
                    <div class="watch-later-item">
                        <div class="listing-container">

                            <!-- Movie List Image -->
                            <div class="listing-image">
                                <img src="../static/images/posters/poster-1.jpg" class="img-shadow" alt="">
                            </div>

                            <!-- Movie List Content -->
                            <div class="listing-content">
                                <div class="inner text-center">
                                    <h3 class="title">{{ books }}</h3>
                                    <a href="movie-detail.html" class="btn btn-main btn-effect">watch now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}  

                <h2 class="title">Movies</h2>

                {% for movies in user.my_list.movies %}
                <div class="col-md-12 col-sm-12">
                    <div class="watch-later-item">
                        <div class="listing-container">

                            <!-- Movie List Image -->
                            <div class="listing-image">
                                <img src="../static/images/posters/poster-1.jpg" class="img-shadow" alt="">
                            </div>

                            <!-- Movie List Content -->
                            <div class="listing-content">
                                <div class="inner text-center">
                                    <h3 class="title">{{ movies }}</h3>
                                    <a href="movie-detail.html" class="btn btn-main btn-effect">watch now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %} 

                <h2 class="title">TV Shows</h2>

                {% for tvshows in user.my_list.tv_shows %}
                <div class="col-md-12 col-sm-12">
                    <div class="watch-later-item">
                        <div class="listing-container">

                            <!-- Movie List Image -->
                            <div class="listing-image">
                                <img src="../static/images/posters/poster-1.jpg" class="img-shadow" alt="">
                            </div>

                            <!-- Movie List Content -->
                            <div class="listing-content">
                                <div class="inner text-center">
                                    <h3 class="title">{{ tvshows }}</h3>
                                    <a href="movie-detail.html" class="btn btn-main btn-effect">watch now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %} 

                <h2 class="title">Songs</h2>

                {% for songs in user.my_list.songs %}
                <div class="col-md-12 col-sm-12">
                    <div class="watch-later-item">
                        <div class="listing-container">

                            <!-- Movie List Image -->
                            <div class="listing-image">
                                <img src="../static/images/posters/poster-1.jpg" class="img-shadow" alt="">
                            </div>

                            <!-- Movie List Content -->
                            <div class="listing-content">
                                <div class="inner text-center">
                                    <h3 class="title">{{ songs }}</h3>
                                    <a href="movie-detail.html" class="btn btn-main btn-effect">watch now</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}            
            {% endfor %}
                
        </div>
        <!-- End of Movie List -->

    </div>
</main>
<!-- =============== END OF MAIN =============== -->
{% endblock %}